<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css"/>
    <script src="/js/jquery-tableMenu.js" type="text/javascript" charset="utf-8"></script>
    <title>支付</title>

</head>
<body bgcolor="#EBEFF5">
<%- include('../layouts/navLayout', {current: null}) %>
<div class="payBg">
    <div class="swrap">
        <div class="sutop">
            <p class="p">支付成功</p>
            <div class="btns">
                <a href="/detail/workDetail?id=<%= viewModel.workId %>&mediatype=<%= viewModel.mediaType %>"
                   class="a1 left">开始阅读</a>
                <a href="/" class="a2 right">返回首页</a>
            </div>
        </div>
        <div class="subottom">
            <div class="favorite">
                <label for="">猜你喜欢</label>
                <div class="tab left">
                    <a href="javascript:;" class="cur">图文</a>
                    <a href="javascript:;">音频</a>
                    <a href="javascript:;">视频</a>
                    <a href="javascript:;">图集</a>
                    <a href="javascript:;">微刊</a>
                </div>
            </div>
            <!--图文-->
            <div class="tabcont" style="display: block;">
                <ul class="clearfix">
                    <% for(var i = 0;i < viewModel.data.imagetextlist.length; i++){ %>
                    <li>
                        <a target="_blank" href="/detail/workDetail?id=<%=viewModel.data.imagetextlist[i].id%>&mediatype=<%=viewModel.data.imagetextlist[i].mediatype%>">
                            <img src="<%= viewModel.data.imagetextlist[i].coverpic %>"/>
                            <span class="icon icon1"></span>
                            <p><%= viewModel.data.imagetextlist[i].title %></p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--音频-->
            <div class="tabcont">
                <ul class="clearfix">
                    <% for(var i = 0;i < viewModel.data.audiolist.length; i++){ %>
                    <li>
                        <a target="_blank" href="/detail/workDetail?id=<%=viewModel.data.audiolist[i].id%>&mediatype=<%=viewModel.data.audiolist[i].mediatype%>">
                            <img src="<%= viewModel.data.audiolist[i].coverpic %>"/>
                            <span class="icon icon3"></span>
                            <p><%= viewModel.data.audiolist[i].title %></p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--视频-->
            <div class="tabcont">
                <ul class="clearfix">
                    <% for(var i = 0;i < viewModel.data.vediolist.length; i++){ %>
                    <li>
                        <a target="_blank" href="/detail/workDetail?id=<%=viewModel.data.vediolist[i].id%>&mediatype=<%=viewModel.data.vediolist[i].mediatype%>">
                            <img src="<%= viewModel.data.vediolist[i].coverpic %>"/>
                            <span class="icon icon4"></span>
                            <p><%= viewModel.data.vediolist[i].title %></p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--图集-->
            <div class="tabcont">
                <ul class="clearfix">
                    <% for(var i = 0;i < viewModel.data.piclist.length; i++){ %>
                    <li>
                        <a target="_blank" href="/detail/workDetail?id=<%=viewModel.data.piclist[i].id%>&mediatype=<%=viewModel.data.piclist[i].mediatype%>">
                            <img src="<%= viewModel.data.piclist[i].coverpic %>"/>
                            <span class="icon icon2"></span>
                            <p><%= viewModel.data.piclist[i].title %></p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--微刊-->
            <div class="tabcont">
                <ul class="clearfix">
                    <% for(var i = 0;i < viewModel.data.microbooklist.length; i++){ %>
                    <% var num; num = Math.floor(Math.random() * 5) + 1 %>
                    <li>
                        <a target="_blank" href="/detail/workDetail?id=<%=viewModel.data.microbooklist[i].id%>">
                            <img src="<%= viewModel.data.microbooklist[i].coverpic %>"/>
                            <span class="icon"></span>
                            <p><%= viewModel.data.microbooklist[i].title %></p>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footerLayout', {}) %>
<script>
    TableTransition($(".tab a"), $(".tabcont"), "click", "cur")
</script>
</body>
</html>