<!DOCTYPE html>
<html>

<head>
    <%- include('./layouts/headLayout', {}) %>
        <link rel="stylesheet" type="text/css" href="css/kdh.css" />
</head>

<body bgcolor="#F9EFE6">
    <%- include('./layouts/navLayout', {current: 4}) %>
        <div class="k-banner"></div>
        <div class="kcont">
            <div class="handle">
                <div class="choose left">
                    <a href="<%='/kdh?sort=UpdateTime'%>" class="<%if(viewModel.data.sort=='UpdateTime'){%>cur<%}%>">最新</a>
                    <a href="<%='/kdh?sort=ClickCount'%>" class="<%if(viewModel.data.sort=='ClickCount'){%>cur<%}%>">最热</a>
                </div>
                <script></script>
            </div>
            <ul class="list clearfix">
                <% for(var i = 0;i < viewModel.data.org.data.rows.length;i++){ %>
                    <li>
                        <a href="/kdh/home/<%= viewModel.data.org.data.rows[i].orgid %>" class="link">
                <img class="cover" src="<%= viewModel.data.org.data.rows[i].backgroundpic %>">
                <img class="logo" src="<%= viewModel.data.org.data.rows[i].logopic %>">
                <h1><%= viewModel.data.org.data.rows[i].orgname %></h1>
                <p title="<%= viewModel.data.org.data.rows[i].memo %>"
                   class="p1"><%= viewModel.data.org.data.rows[i].memo %></p>
                <p class="p1">作品：<%= viewModel.data.org.data.rows[i].collectioncount %>
                    丨浏览：<%= viewModel.data.org.data.rows[i].clickcount %></p>
            </a>
                        <a href="javascript:;" data-orgid="<%= viewModel.data.org.data.rows[i].orgid %>" class="follow <% if(viewModel.data.org.data.rows[i].isconcern == 1){ %> active <% }%> ">
                            <% if(viewModel.data.org.data.rows[i].isconcern == 1){ %> 已关注
                                <%}else{%> 关注
                                    <% }%>
                        </a>
                    </li>
                    <% } %>
            </ul>
            <div class="sp-page">
                <%- viewModel.data.kdhPageStr %>
            </div>
        </div>
        <%- include('./layouts/footerLayout', {}) %>
            <div class="pop"></div>
            <input type="hidden" value="<%=viewModel.user.name%>" id="username">
            <script src="/lib/layui/layui.js"></script>
            <script>
                var layer = '';
                layui.use('layer', function() {
                    layer = layui.layer;
                });
                var concernBtn = $('.kcont .list li .follow');
                var username = $('#username').val();
                concernBtn.click(function() {
                    if (username == '' || username == 'undefined') {
                        layer.msg('请先登录');
                        return;
                    };
                    var orgid = $(this).attr('data-orgid');
                    var otype = 0;

                    if ($(this).hasClass('active')) {
                        $(this).removeClass('active').html('关注');
                        otype = 1;
                        addOrCancelConcern(orgid, otype);
                    } else {
                        $(this).addClass('active').html('已关注');
                        otype = 0;
                        addOrCancelConcern(orgid, otype);
                    }
                });

                function addOrCancelConcern(orgid, otype) {
                    var url = '/kdh/addOrCancelConcern/' + orgid + '?otype=' + otype;
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        success: function(response) {
                            if (response.code == 0) {
                                layer.msg(response.data.info);
                            }
                        }
                    });
                }
            </script>
</body>

</html>