<!DOCTYPE html>
<html>
	<head>
		<%- include('../layouts/headLayout', {}) %>
       <link rel="stylesheet" type="text/css" href="/css/literature/literature.css"/>
       <link rel="stylesheet" type="text/css" href="/css/literature/literature-artist.css"/>
	</head>
	<body>
	   <!--header-->
	   <%- include('../layouts/navLayout', {current: 5}) %>
	   <!--main-->
	   <div class="mainbg">
	   	 <div class="main clearfix">
	   	 	<div class="ml left">
	   	 		<h1><%=viewModel.title%></h1>
	   	 		<div class="info">
	   	 		    <p>[来源]<span>《<%=viewModel.source%>》<%=viewModel.year%>年第<%=viewModel.period%>期</span></p>
	   	 		    <p>[页数]<span><%=viewModel.pageCount%>页</span></p>
	   	 		    <p>[价格]<span class="color"><%=viewModel.check.Price%></span>元</p>
					<%if(viewModel.sufficient == 1){%>
						<a href="/literature/download?filename=<%=viewModel.filename%>" class="btn">立即下载</a>
					<%}else{%>
						<p class="p3">您的账户余额不足</p>
						<a href="/recharge/home" class="btn">立即充值</a>
					<%}%>
	   	 		</div>
	   	 		<div class="tips">
	   	 			<h2>温馨提示： </h2>
	   	 			<p>>> 点击“立即下载”，系统扣款账户费用后开始下载文献。<br />>>  7日内重复下载同一篇文章，系统只收取一次下载费用，逾期将重新计费。<br />>> 咨询热线：400-810-9993  010-62985026</p>
	   	 		</div>
	   	 	</div>
	   	    <div class="mr left">
	   	    	<div class="section1">
	   	    		<p>账户余额：<span class="color"><%=viewModel.account.Money%></span> 元</p>
	   	    		<p>赠券余额：<span class="color"><%=viewModel.account.UsableTicket%></span> 元</p>
	   	    	</div>
	   	    	<div class="section2">
	   	    		<h1><span>账户充值</span></h1>
	   	    		<div class="ways clearfix">
	   	    			<a href="/recharge/home?payType=12" class="a1"><img src="/images/literature/wepay.png">微信支付</a>
	   	    			<a href="/recharge/home?payType=13" class="a2"><img src="/images/literature/alipay.png">支付宝</a>
	   	    			<a href="/recharge/home?payType=7" class="a3"><img src="/images/literature/unionpay.png">银联支付</a>
	   	    			<a href="/recharge/home?payType=6" class="a4"><img src="/images/literature/card.png">会员卡</a>
	   	    		</div>
	   	    		<p class="link"><a href="/recharge/home">充值中心></a><a href="#">发票索取></a></p>
	   	    	</div>
	   	        <div class="section3">
	   	        	<a href="#" class="relevance ">关联机构账号</a>
	   	        	<p>如果您是机构用户，可以关联机构账号，关联完成，即可使用机构账号免费下载文献。</p>
	   	        </div>
	   	    </div>
	   	 </div>
	   </div>
	       
	   <!--footer-->
	   <div class="pfooter">
	   	 <p>数字出版：《中国学术期刊（光盘版）》电子杂志社有限公司</p>
	   	 <p>京ICP证040431号 互联网出版许可证 新出网证(京)字271号 北京市公安局海淀分局 备案号11010802020460</p>
	   </div>
	</body>
</html>