<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/literature/literature.css"/>
    <script src="/js/plugin/jquery.methods.js"></script>
</head>
<body>
<!--header-->
<%- include('../layouts/navLayout', {current: 5}) %>
<% if(viewModel.isAdvancedSearch == 0){ %>
<%- include('../components/literature/topBanner', {}) %>
<% } %>
<div class="resultWrap clearfix">
    <div class="rl left">
        <div class="tops">
            <% if(viewModel.isAdvancedSearch == 1) { %>
            <!--高级搜索显示方式-->
            <p>
                <% if(viewModel.searchWordsStr){ %>
                <span><%= viewModel.searchWordsStr %> </span>
                <% } %>
                <i>的检索结果如下</i></p>
            <% }else{ %>
            <!--文献搜索显示方式-->
            <p>
                <% if(viewModel.searchWordValue){ %>
                <span><%= viewModel.searchWordValue %> </span>
                <% } %>
                相关文献<%= viewModel.data.total %>篇</p>
            <% } %>

            <% if(viewModel.prevNextPage){ %>
            <!--上一页 下一页-->
            <div class="right" id="prevNextPage">
                <span id="next"><%- viewModel.prevNextPage.nextPage %></span>
                <span id="prev"><%- viewModel.prevNextPage.prevPage %></span>
                <span><span id="currentPage"><%= viewModel.params.pageNum %></span>/<span
                            id="sumPage"><%= ejsFunctions.ceil(viewModel.data.total / 10) %></span></span>
            </div>
            <% } %>
        </div>
        <div class="redLine"></div>
        <% if(viewModel.isAdvancedSearch == 0) { %>
        <!--分类筛选-->
        <div class="filtrate" id="filter">
            <div class="ti">筛选：</div>
            <div class="itemm" data-selected-item-number="-1" data-filter-type="ztcode">
                <span class="see1">分类</span>
                <span class="see2 displayN">分类<img src="/images/literature/licon5c.png" align="absmiddle"></span>
            </div>
            <div class="line1"></div>
            <div class="itemm" data-selected-item-number="-1" data-filter-type="author">
                <span class="see1">作者</span>
                <span class="see2 displayN">作者<img src="/images/literature/licon5c.png" align="absmiddle"></span>
            </div>
            <div class="line1"></div>
            <div class="itemm" data-selected-item-number="-1" data-filter-type="unit">
                <span class="see1">机构</span>
                <span class="see2 displayN">机构<img src="/images/literature/licon5c.png" align="absmiddle"></span>
            </div>
            <div class="line1"></div>
            <div class="itemm" data-selected-item-number="-1" data-filter-type="source">
                <span class="see1">来源</span>
                <span class="see2 displayN">来源<img src="/images/literature/licon5c.png" align="absmiddle"></span>
            </div>
            <div class="line1"></div>
            <div class="itemm long" data-selected-item-number="-1" data-filter-type="year">
                <span class="see1">发表年度</span>
                <span class="see2 displayN">发表年度<img src="/images/literature/licon5c.png" align="absmiddle"></span>
            </div>
        </div>
        <!--分类筛选内容-->
        <div id="pop2Wrap" class="pop2Wrap">
            <a class="close1 positionA" href="javascript:void(0)"></a>
            <div class="pop2 clearfix" id="pop2" data-order="0"></div>
        </div>
        <div style="display: none;" id="sort"></div>
        <!--// 筛选-->
        <% } %>
        <!--排序-->
        <div id="px" class="px" data-type-code="null" data-field="null">
            <div class="ti">排序：</div>
            <a data-order="0" data-search-word-name="<%= viewModel.searchWordName %>"
               data-search-word-value="<%= viewModel.searchWordValue %>" href="javascript:;"
               <% if(viewModel.params.order == 0){ %>class="cur"
                    <% } %>
            >相关度</a>
            <a data-order="3" data-search-word-name="<%= viewModel.searchWordName %>"
               data-search-word-value="<%= viewModel.searchWordValue %>" href="javascript:;"
               <% if(viewModel.params.order == 3){ %>class="cur"
                    <% } %>
            >发表时间</a>
            <a data-order="1" data-search-word-name="<%= viewModel.searchWordName %>"
               data-search-word-value="<%= viewModel.searchWordValue %>" href="javascript:;"
               <% if(viewModel.params.order == 1){ %>class="cur"
                    <% } %>
            >下载次数</a>
        </div>
        <div id="list" class="listWrap">
            <% for(var i = 0, list = viewModel.data.list; i < list.length;i++){ %>
            <div class="item" data-file-name="<%= viewModel.data.list[i].FileName %>">
                <h2><a target="_blank"
                       href="<%= '/literature/literatureDetail?filename=' + viewModel.data.list[i].FileName + '&dbType=' + ejsFunctions.substring(viewModel.data.list[i].DBName, 0, 4) %>"><%- ejsFunctions.keywordStyleRed(list[i].Title, '~#@', '@#~', viewModel.searchWordValue) %></a>
                    &nbsp;&nbsp;<a target="_blank" href="<%=ejsFunctions.encodeURL('/literature/literatureDownload?title='+ list[i].Title +'&source='+ list[i].PublishName +'&year='+ list[i].Year +'&period='+ list[i].Period +'&pageCount='+ list[i].PageCount +'&filename='+ list[i].FileName)%>"><img
                                src="/images/literature/licon6.png"></a>
                </h2>
                <p class="p1">
                    <% if(list[i].Author && list[i].Author.length > 0) { %>
                    <%- ejsFunctions.keywordStyleRed(list[i].Author, '~#@', '@#~', viewModel.searchWordName) %>
                    |
                    <% } %>
                    《<%- ejsFunctions.keywordStyleRed(list[i].PublishName, '~#@', '@#~', viewModel.searchWordName) %>
                    》<%= list[i].Year %>
                    年<%= list[i].Period %>期</p>
                <p class="p2"><%- ejsFunctions.keywordStyleRed(ejsFunctions.substring(list[i].Summary, 0, 180), '~#@', '@#~', viewModel.searchWordValue) %>
                    ...</p>
                <div class="pics"></div>
                <% if(viewModel.data.list[i].Keyword && ejsFunctions.trim(viewModel.data.list[i].Keyword).length > 0) { %>
                <div class="tag"><img src="/images/literature/licon12.gif" align="absmiddle"/>
                    <% for(var j = 0, keyword = ejsFunctions.stringToArray(viewModel.data.list[i].Keyword);j < keyword.length;j++) {if(j < 5) { %>
                    <span><a href="<%= ejsFunctions.encodeURL('/literature/literatureResult?&fulltext=' + ejsFunctions.filterKeyword(keyword[j])) %>"><%- ejsFunctions.keywordStyleRed(ejsFunctions.filterKeyword(keyword[j]), '~#@', '@#~', viewModel.searchWordName) %></a></span>
                    <% }} %>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="rpage"><%- viewModel.resultPage %></div>
    </div>
    <div class="rr left">
        <div id="relatedPeriod" class="s s1" style="display: none;">
            <h1><span class="left">相关期刊</span><!--<a href="#" class="right">更多 ></a>--></h1>
            <ul class="clearfix"></ul>
        </div>
        <div id="relatedWorksWrap" class="s s4" style="display: none;">
            <h1><span class="left">相关作品</span><a href="#" class="right">更多 ></a></h1>
            <div id="relatedWorks" class="wrap"></div>
        </div>
        <div class="s s2">
            <h1><span class="left">精选微刊</span><a target="_blank" href="/microbook" class="right">更多 ></a></h1>
            <div id="microBooksRecommend" class="wrap"></div>
        </div>
        <div id="kdhWrap" class="s s3" style="display: none;">
            <h1><span class="left">看典号</span><a target="_blank" href="/kdh" class="right">更多 ></a></h1>
            <div id="kdh" class="wrap"></div>

        </div>
    </div>
</div>

<!--footer-->
<%- include('../layouts/footerLayout', {}) %>

<div style="display: none">
    <input type="hidden" id="searchWordValue" value="<%= viewModel.searchWordValue %>">
    <input type="hidden" id="dbname" value="<%= viewModel.libraryType %>">
    <input type="hidden" id="album" value="<%= viewModel.album %>">
    <input type="hidden" id="ztName" value="<%= viewModel.ztName %>">
    <input type="hidden" id="ztCode" value="<%= viewModel.ztCode %>">
    <input type="hidden" id="searchWordName" value="<%= viewModel.searchWordName %>">
    <input type="hidden" id="queryStr" value="<%= viewModel.queryStr %>">
    <input type="hidden" id="isAdvancedSearch" value="<%= viewModel.isAdvancedSearch %>">
</div>
<script>
    "use strict"
    // 列表图片加载
    var items = $('.item');
    var time = 300;
    var count = 0;
    var ajaxRequest = [];

    var kdhWrap = $('#kdhWrap');

    var searchWordName = $('#searchWordName').val();
    var searchWordValue = $('#searchWordValue').val();

    var dbname = $('#dbname').val();
    var album = $('#album').val();
    var ztName = $('#ztName').val();
    var subject = $('#ztCode').val();
    var listDom = $('#list');
    var isAdvancedSearch = $('#isAdvancedSearch').val();
    var queryStr = $('#queryStr').val();
    var scrollDis = 0;
    // 文献搜索与高级搜索滚动到页面的高度不一样
    if (isAdvancedSearch == 0) {
        scrollDis = 390;
    } else {
        scrollDis = 71
    }
    var page = $('.rpage');

    var px = $('#px');
    var pxItem = $('#px a')
    getLiteraturePic(handlePics);
    // 绑定页码事件
    $('.rpage a,#prev a,#next a').bind('click', function () {
        $('body,html').animate({scrollTop: scrollDis}, time);
        var pageNum = $(this).attr('data-page');
        stopAjaxRequests(ajaxRequest, function () {
            getDetailList(searchWordName, searchWordValue, pageNum, 1, null, null, queryStr);
        })
    })

    //异步请求图片 返回处理
    function handlePics(imgList) {
        var picContainer = listDom.children('.item').children('.pics');
        var imgStr = '';
        for (var j = 0; j < imgList.length; j++) {
            if (j < 3) {  // 最多只显示3张图片
                imgStr += '<a target="_blank" href="javascript:;"><img src="' + imgList[j] + '"></a>';
            }
        }
        picContainer.eq(count).html(imgStr);
        picContainer.eq(count).children('a').attr('href', picContainer.eq(count).siblings('h2').children('a').attr('href'));
        picContainer.eq(count).slideDown(time);
    }

    // 获取每个列表下的文献图片
    function getLiteraturePic(callback) {
        var literaturePicsUrl = '/literature/getLiteraturePics?filename=' + listDom.children('.item').eq(count).attr('data-file-name');
        ajaxRequest[count] = $.ajax({
            url: literaturePicsUrl,
            dataType: "json",
            type: "GET",
            success: function (response) {
                // console.log(response)
                if (response.Code == 1) {
                    var imgList = response.ImgUrls;
                    // 图片存在
                    if (imgList && imgList.length > 0) {
                        callback(imgList);
                    }
                    if (count < items.length - 1) {
                        count++;
                        getLiteraturePic(handlePics);
                    } else {
                        count = 0;
                    }
                } else {
                    console.log('请检查获取文献图片接口！');
                }
            },
            error: function (error) {
                //请求出错处理
                console.log(error);
            }
        });
    }

    // 停止所有ajax请求
    function stopAjaxRequests(request, callback) {
        // 停止递归
        if (request[count]) {
            request[count].abort();
            count = 0;
            callback();
        }
    }

    // 根据文献搜索选项
    function getDetailList(searchWordName, searchWordValue, pageNum, order, filterType, fieldValue, queryStr) {

        var order = order || 0;
        var filterType = filterType || null;
        var fieldValue = fieldValue || null;
        var url = encodeURI('/literature/literatureResult?' + queryStr + '&pageNum=' + pageNum + '&isAsync=1&order=' + order + '&field=' + filterType + '&fieldValue=' + fieldValue);
        $.ajax({
            url: url,
            dataType: "json", //返回格式
            type: "GET",
            success: function (response) {
                // console.log(response)
                if (response.code == 0) {
                    var list = response.data.list;
                    var str = '';
                    if (list && list.length > 0) {
                        var str = handleList(list, searchWordValue);
                        $('.listWrap').html(str);
                        getLiteraturePic(handlePics);

                        // 页码
                        var pageStr = $.kd.outputPager(response.data.total, 10, 5, pageNum);
                        var prevNextPageStr = $.kd.outputPrevNextPager(response.data.total, 10, 5, pageNum);
                        $('.rpage').html(pageStr);
                        $('#prev').html(prevNextPageStr.prevPage);
                        $('#next').html(prevNextPageStr.nextPage);
                        $('#currentPage').html(pageNum);
                        $('#sumPage').html(Math.ceil(response.data.total / 10));

                        // 绑定页码事件
                        $('.rpage a,#prev a,#next a').bind('click', function () {
                            $('body,html').animate({scrollTop: scrollDis}, time);
                            var pageNum = $(this).attr('data-page');
                            stopAjaxRequests(ajaxRequest, function () {
                                getDetailList(searchWordName, searchWordValue, pageNum, order, filterType, fieldValue, queryStr);
                            })
                        })
                    }
                } else {
                    console.log('请检查接口是否有数据返回或查看传参是否正确！')
                }
                list = null;
            },
            error: function (error) {
                //请求出错处理
                console.log(error);
            }
        });
    }

    // 处理异步返回的数据 生成列表
    function handleList(list, searchWordKeyword) {
        // console.log(list, searchWordKeyword)
        var str = ''
        // 小于10条全部显示
        if (list.length <= 10) {
            for (var i = 0; i < list.length; i++) {
                var downloadUrl = encodeURI('/literature/literatureDownload?title='+ list[i].Title +'&source='+ list[i].PublishName +'&year='+ list[i].Year +'&period='+ list[i].Period +'&pageCount='+ list[i].PageCount +'&filename='+ list[i].FileName);
                var keywordStr = '';
                // 有关键字
                if (list[i].Keyword && list[i].Keyword.length > 0) {
                    var keywordArr = $.kd.stringToArray(list[i].Keyword);
                    for (var j = 0; j < keywordArr.length; j++) {
                        // keywordStr += '<span><a>' + keywordArr[j] + '</a></span>'
                        if (j < 5) { //最多显示5个
                            //删除关键词后面带的数字
                            var tempIndex = keywordArr[j].indexOf(':');
                            if (tempIndex != -1) {
                                keywordStr += '<span><a href="' + encodeURI('/literature/literatureResult?fulltext=' + $.kd.keywordStyleRed(keywordArr[j].substring(0, tempIndex), '~#@', '@#~', searchWordKeyword)) + '">' + $.kd.keywordStyleRed(keywordArr[j].substring(0, tempIndex), '~#@', '@#~', searchWordKeyword) + '</a></span>';
                            } else {
                                keywordStr += '<span><a href="' + encodeURI('/literature/literatureResult?fulltext=' + $.kd.keywordStyleRed(keywordArr[j], '~#@', '@#~', searchWordKeyword)) + '">' + $.kd.keywordStyleRed(keywordArr[j], '~#@', '@#~', searchWordKeyword) + '</a></span>';
                            }
                        }
                    }

                    str += '<div class="item" data-file-name="' + list[i].FileName + '">' +
                        '       <h2><a target="_blank" href="/literature/literatureDetail?filename=' + list[i].FileName + '&dbType=' + list[i].DBName.substring(0, 4) + '">' + $.kd.keywordStyleRed(list[i].Title, '~#@', '@#~', searchWordKeyword) + '</a>&nbsp;&nbsp;<a target="_blank" href="'+ downloadUrl +'"><img src="/images/literature/licon6.png"></a></h2>' +
                        '       <p class="p1">' + $.kd.keywordStyleRed(list[i].Author, '~#@', '@#~', searchWordKeyword) + ' ' + $.kd.boundaryOutput(list[i].Author) + '《' + $.kd.keywordStyleRed(list[i].PublishName, '~#@', '@#~', searchWordKeyword) + '》' + list[i].Year + '年' + list[i].Period + '期</p>' +
                        '       <p class="p2">' + $.kd.keywordStyleRed(list[i].Summary, '~#@', '@#~', searchWordKeyword) + '</p>' +
                        '       <div class="pics"></div>' +
                        '       <div class="tag"><img src="/images/literature/licon12.gif" align="absmiddle"/>' + keywordStr + '</div>' +
                        '   </div>';
                } else {
                    // 没有关键字
                    str += '<div class="item" data-file-name="' + list[i].FileName + '">' +
                        '       <h2><a target="_blank" href="/literature/literatureDetail?filename=' + list[i].FileName + '&dbType=' + list[i].DBName.substring(0, 4) + '">' + $.kd.keywordStyleRed(list[i].Title, '~#@', '@#~', searchWordKeyword) + '</a>&nbsp;&nbsp;<a target="_blank" href="'+ downloadUrl +'"><img src="/images/literature/licon6.png"></a></h2>' +
                        '       <p class="p1">' + $.kd.keywordStyleRed(list[i].Author, '~#@', '@#~', searchWordKeyword) + ' ' + $.kd.boundaryOutput(list[i].Author) + '《' + $.kd.keywordStyleRed(list[i].PublishName, '~#@', '@#~', searchWordKeyword) + '》' + list[i].Year + '年' + list[i].Period + '期</p>' +
                        '       <p class="p2">' + $.kd.keywordStyleRed(list[i].Summary, '~#@', '@#~', searchWordKeyword) + '</p>' +
                        '       <div class="pics"></div>' +
                        '   </div>';
                }

            }

        } else {  // 大于10条显示10条
            // for (var i = 0; i < 10; i++) {
            //     var keywordStr = '';
            //     // 有关键字
            //     if (list[i].Keyword && list[i].Keyword.length > 0) {
            //         var keywordArr = $.kd.stringToArray(list[i].Keyword);
            //         for (var j = 0; j < keywordArr.length; j++) {
            //             // keywordStr += '<span><a>' + keywordArr[j] + '</a></span>'
            //             if (j < 5) { //最多显示5个
            //                 //删除关键词后面带的数字
            //                 var tempIndex = keywordArr[j].indexOf(':');
            //                 if (tempIndex != -1) {
            //                     keywordStr += '<span><a href="' + encodeURI('/literature/literatureResult?fulltext=' + keywordArr[j].substring(0, tempIndex)) + '">' + keywordArr[j].substring(0, tempIndex) + '</a></span>';
            //                 } else {
            //                     keywordStr += '<span><a href="' + encodeURI('/literature/literatureResult?fulltext=' + keywordArr[j]) + '">' + keywordArr[j] + '</a></span>';
            //                 }
            //             }
            //         }
            //
            //         str += '<div class="item" data-file-name="' + list[i].FileName + '">' +
            //             '       <h2><a target="_blank" href="/literature/literatureDetail?filename=' + list[i].FileName + '&dbType=' + list[i].DBName.substring(0, 4) + '">' + $.kd.keywordStyleRed(list[i].Title, '~#@', '@#~', searchWordKeyword) + '</a></h2>' +
            //             '       <p class="p1">' + $.kd.keywordStyleRed(list[i].Author, '~#@', '@#~', searchWordKeyword) + ' |《' + list[i].PublishName + '》' + list[i].Year + '年' + list[i].Period + '期</p>' +
            //             '       <p class="p2">' + $.kd.keywordStyleRed(list[i].Summary, '~#@', '@#~', searchWordKeyword) + '</p>' +
            //             '       <div class="pics"></div>' +
            //             '       <div class="tag"><img src="/images/literature/licon12.gif" align="absmiddle"/>' + keywordStr + '</div>' +
            //             '   </div>';
            //     } else {
            //         // 没有关键字
            //         str += '<div class="item" data-file-name="' + list[i].FileName + '">' +
            //             '       <h2><a target="_blank" href="/literature/literatureDetail?filename=' + list[i].FileName + '&dbType=' + list[i].DBName.substring(0, 4) + '">' + $.kd.keywordStyleRed(list[i].Title, '~#@', '@#~', searchWordKeyword) + '</a></h2>' +
            //             '       <p class="p1">' + $.kd.keywordStyleRed(list[i].Author, '~#@', '@#~', searchWordKeyword) + ' |《' + list[i].PublishName + '》' + list[i].Year + '年' + list[i].Period + '期</p>' +
            //             '       <p class="p2">' + $.kd.keywordStyleRed(list[i].Summary, '~#@', '@#~', searchWordKeyword) + '</p>' +
            //             '       <div class="pics"></div>' +
            //             '   </div>';
            //     }
            // }
        }
        return str;
    }

    // 获取筛选数据
    var filterItem = $("#filter .itemm")
    filterItem.click(function () {

        // .pop2里面的选中项取消
        var tempSelectedItemNum = $(this).attr('data-selected-item-number');
        filterItem.attr('data-selected-item-number', -1);
        $(this).attr('data-selected-item-number', tempSelectedItemNum);

        $(".filtrate .itemm .see2").css({"display": "none"})
        $(this).children(".see2").css({"display": "block"})
        var filterType = $(this).attr('data-filter-type');  // 分类code 如ztcode
        var selectP = $('.select p');
        var searchWordName = selectP.attr('data-code');    // 下拉列表code值 如fulltext等
        var searchWordValue = selectP.html().replace(' ', ''); // 下拉列表文字 如全文
        var searchWordKeyword = $('#search').attr('data-search-word-value'); // 搜索词
        var url = encodeURI('/literature/getLiteratureSortList?' + searchWordName + '=' + searchWordKeyword + '&filterType=' + filterType);
        var $this = $(this);

        $.ajax({
            url: url,
            dataType: "json", //返回格式
            type: "GET",
            success: function (response) {
                // console.log(response)
                if (response.code == 0) {
                    var list = response.data.list;
                    var str = '';
                    if (list && list.length > 0) {
                        const count1 = 30;
                        const count2 = 50
                        // 显示30条，多余的隐藏,最多显示50条
                        var len = list.length;
                        if (len > count2) {
                            len = count2;
                        }
                        // 添加全部
                        str = '<div class="classes">' +
                            '<span class="wrapT"><a href="javascript:;" data-search-word-name="' + searchWordName + '" data-type-code="null" data-filter-type="null">全部</a><span class="hint displayN"><b></b><i></i></span></span>' +
                            '</div>';
                        for (var i = 0; i < len; i++) {
                            if (i < count1) {
                                str += '<div class="classes">' +
                                    '          <span class="wrapT"><a href="javascript:;" data-search-word-name="' + searchWordName + '" data-type-code="' + list[i].TypeCode + '" data-filter-type="' + filterType + '">' + list[i].FilterName + '</a><span class="hint displayN"><b></b><i></i></span></span><span>(' + list[i].ArticleCount + ')</span>' +
                                    '       </div>';
                            } else if (i == count1) { // 等于count1时，添加一个展示更多位置
                                str += '<div class="classes">' +
                                    '          <span class="wrapT"><a href="javascript:;" data-search-word-name="' + searchWordName + '" data-type-code="' + list[i].TypeCode + '" data-filter-type="' + filterType + '">' + list[i].FilterName + '</a><span class="hint displayN"><b></b><i></i></span></span><span>(' + list[i].ArticleCount + ')</span>' +
                                    '       </div>' +
                                    '<div class="cb classes">&gt;&gt;</div>';
                            } else if (i == len - 1) {
                                str += '<div class="classes ad">' +
                                    '          <span class="wrapT"><a href="javascript:;" data-search-word-name="' + searchWordName + '" data-type-code="' + list[i].TypeCode + '" data-filter-type="' + filterType + '">' + list[i].FilterName + '</a><span class="hint displayN"><b></b><i></i></span></span><span>(' + list[i].ArticleCount + ')</span>' +
                                    '       </div>' +
                                    '<div class="ad bc classes">&lt;&lt;</div>';
                            } else {
                                str += '<div class="classes ad">' +
                                    '          <span class="wrapT"><a href="javascript:;" data-search-word-name="' + searchWordName + '" data-type-code="' + list[i].TypeCode + '" data-filter-type="' + filterType + '">' + list[i].FilterName + '</a><span class="hint displayN"><b></b><i></i></span></span><span>(' + list[i].ArticleCount + ')</span>' +
                                    '       </div>';
                            }
                        }
                        $('#pop2').html(str).slideDown('fast');
                        $('.pop2Wrap .close1').show();

                        // 恢复以选中项目
                        var selectedItemIndex = $this.attr('data-selected-item-number');
                        if (selectedItemIndex != -1) {
                            $('.pop2 .classes a').eq(selectedItemIndex).addClass("soil");
                        }

                        // 鼠标停留显示提示语
                        $(".pop2 .classes").each(function () {
                            // $(this).parent(".pop2").css("display","block")
                            var Width = $(this).children(".wrapT").width()
                            var Html = $(this).children(".wrapT").children("a").html()
                            $(this).children(".wrapT").children(".hint").children("b").width(Width + 200)
                            $(this).children(".wrapT").children(".hint ").children("b").html("点击显示" + '"' + Html + '"' + "的筛选结果")
                            $(this).children(".wrapT").children(".hint ").css({
                                "left": "50%",
                                "margin-left": -(Width + 200) / 2
                            })
                            $(this).children(".wrapT").children(".hint ").children("i").css({
                                "left": "50%",
                                "margin-left": "-3px"
                            })
                            // $(this).parent(".pop2").css("display","none")
                        })

                        // 绑定分类数据点击事件 加载列表数据
                        $(".pop2 .classes a").click(function () {
                            $(".pop2 .classes a").removeClass("soil")
                            $(this).addClass("soil");
                            var fieldValue = $(this).attr('data-type-code');
                            var order = $(this).parent().parent().parent().attr('data-order');
                            var filterType = $(this).attr('data-filter-type');

                            // 给排序添加fieldValue和typeCode
                            px.attr('data-type-code', fieldValue);
                            px.attr('data-field', $(this).attr('data-filter-type'));

                            // 给fiter itemm 添加当前选中项的序号 方便关闭后再打开记住点击的选项
                            var index = $(".pop2 .classes a").index($(this));
                            $this.attr('data-selected-item-number', index);
                            // 获取详细分类列表
                            stopAjaxRequests(ajaxRequest, function () {
                                getDetailList(searchWordName, searchWordKeyword, 1, order, filterType, fieldValue, queryStr);
                            })

                        })

                        // 点击展示更多或者收起
                        $('.pop2 .cb').click(function () {
                            $(this).hide().siblings('.ad').css('display', 'block');
                            // 鼠标停留显示提示语
                            $(".pop2 .classes").each(function () {
                                // $(this).parent(".pop2").css("display","block")
                                var Width = $(this).children(".wrapT").width()
                                var Html = $(this).children(".wrapT").children("a").html()
                                $(this).children(".wrapT").children(".hint").children("b").width(Width + 200)
                                $(this).children(".wrapT").children(".hint ").children("b").html("点击显示" + '"' + Html + '"' + "的筛选结果")
                                $(this).children(".wrapT").children(".hint ").css({
                                    "left": "50%",
                                    "margin-left": -(Width + 200) / 2
                                })
                                $(this).children(".wrapT").children(".hint ").children("i").css({
                                    "left": "50%",
                                    "margin-left": "-3px"
                                })
                                // $(this).parent(".pop2").css("display","none")
                            });
                        })
                        $('.pop2 .bc').click(function () {
                            $(this).hide().siblings('.ad').css('display', 'none');
                            $('.pop2 .cb').show();
                        })


                        $(".classes a").hover(
                            function () {
                                $(this).siblings(".hint").show()
                            },
                            function () {
                                $(this).siblings(".hint").hide()
                            }
                        )
                    }
                } else {
                    console.log('请坚持获取文献分类、机构、作者等接口！')
                }
            },
            error: function (error) {
                //请求出错处理
                console.log(error);
            }
        });
    });

    $(".pop2Wrap .close1").click(function () {
        $(this).hide();
        $(".pop2").slideUp(time)
        $(".filtrate .itemm .see2").css({"display": "none"})
    })

    // 排序 相关度 发表时间 下载次数
    pxItem.click(function () {
        pxItem.removeClass('cur');
        $(this).addClass('cur');

        var searchWordName = $(this).attr('data-search-word-name');
        var searchWordValue = $(this).attr('data-search-word-value');
        var order = $(this).attr('data-order');
        var pageNum = 1;
        var field = $(this).parent().attr('data-field');
        var fieldValue = $(this).parent().attr('data-type-code');
        $("#pop2").attr('data-order', order);
        stopAjaxRequests(ajaxRequest, function () {
            getDetailList(searchWordName, searchWordValue, pageNum, order, field, fieldValue, queryStr);
        })

    })

    // 右侧展示----------------------------------------------------------------------

    // 相关期刊
    var keyword = $('#searchWordValue').val();
    var magaName = $('#searchWordValue').val();
    var relatedPeriod = $('#relatedPeriod');
    var relatedPeriodUrl = encodeURI('/literature/library/period?magaName=' + magaName + '&isAsync=1&pageSize=4');
    $.ajax({
        url: relatedPeriodUrl,
        dataType: "json", //返回格式
        type: "get",
        success: function (response) {
            // console.log('相关期刊：',response)
            if (response.code == 0) {
                if (response.data.totalcount > 0) {
                    relatedPeriod.show();
                    var list = response.data.list;
                    var str = '';
                    for (var i = 0; i < list.length; i++) {
                        str += '<li>' +
                            '       <a target="_blank" title="' + list[i].Name + '" href="/detail/periodDetail/'+ list[i].Code +'"><img src="http://c61.cnki.net/CJFD/big/' + list[i].Code + '.jpg"></a>' +
                            '       <p><a target="_blank" title="' + list[i].Name + '" href="/detail/periodDetail/'+ list[i].Code +'">' + list[i].Name + '</a></p>' +
                            '   </li>';
                    }
                    relatedPeriod.children('ul').html(str);
                } else {
                    //
                }
            } else {
                console.log('请检查获取期刊信息列表！');
            }
        },
        error: function (error) {
            //请求出错处理
            console.log(error);
        }
    });


    // 相关作品
    var relatedWorksUrl = encodeURI('/literature/getRelatedWorks?searchTitle=' + keyword);
    var relatedWorksWrap = $('#relatedWorksWrap');
    $.ajax({
        url: relatedWorksUrl,
        dataType: "json", //返回格式
        type: "get",
        success: function (response) {
            // console.log(response)
            if (response && response.length > 0) {
                relatedWorksWrap.show();
                var str = '';
                for (var i = 0; i < response.length; i++) {
                    str += '<a target="_blank" href="/detail/workDetail?id=' + response[i].id + '&mediatype=' + response[i].mediatype + '"><img src="' + response[i].coverpic + '"><p>' + response[i].title + '</p></a>';
                }
                $('#relatedWorks').html(str);
            } else {
                console.log('精选微刊无数据！')
            }
        },
        error: function (error) {
            //请求出错处理
            console.log(error);
        }
    });

    // 精选微刊
    $.ajax({
        url: encodeURI('/microBook?keyword=' + keyword + '&limit=3&async=true'),
        dataType: "json", //返回格式
        type: "get",
        success: function (response) {
            // console.log(response)
            if (response.rows && response.rows.length > 0) {
                var microBookStr = '';
                for (var i = 0; i < response.rows.length; i++) {
                    microBookStr += '<a title="' + response.rows[i].title + '" target="_blank" href="/detail/microBookDetail?id=' + response.rows[i].id + '"><img src="' + response.rows[i].coverpic + '"><p>' + response.rows[i].title + '</p></a>';
                }
                $('#microBooksRecommend').html(microBookStr);
            } else {
                console.log('精选微刊无数据！')
            }
        },
        error: function (error) {
            //请求出错处理
            console.log(error);
        }
    });

    // 看典号
    $.ajax({
        url: encodeURI('/literature/getOrgListByKeyword?keyword=' + keyword + '&limit=3'),
        dataType: "json", //返回格式
        type: "get",
        success: function (response) {
            // console.log(response)
            if (response.rows && response.rows.length > 0) {
                kdhWrap.show();
                var kdhStr = '';
                for (var i = 0; i < response.rows.length; i++) {
                    kdhStr += '<div class="item clearfix">' +
                        '                    <a href="#" class="img left"><img src="' + response.rows[i].logopic + '"></a>' +
                        '                    <div class="info left">' +
                        '                        <p class="p1"><a href="#">' + response.rows[i].orgname + '</a></p>' +
                        '                        <p class="p2">' + response.rows[i].memo + '</p>' +
                        '                    </div>' +
                        '                </div>';
                }
                $('#kdh').html(kdhStr);
            } else {
                console.log('获取看典号列表信息无数据');
            }
        },
        error: function (error) {
            //请求出错处理
            console.log(error);
        }
    });
</script>

</body>
</html>