<!DOCTYPE html>
<html>
<head>
    <%- include('../layouts/headLayout', {}) %>
    <link rel="stylesheet" type="text/css" href="/css/personalCenter/personal.css"/>
    <script src="/js/jquery-tableMenu.js" type="text/javascript" charset="utf-8"></script>
</head>
<body bgcolor="#F4F4F4">
<%- include('../layouts/navLayout', {current:null}) %>
    <div class="personalMain clearfix">
        <%- include('../layouts/personal/menuLayout', {current:2,active:4}) %>
        <div class="contentWrap accountWrap">
        	<h1 class="zh"><span>我的账户</span><a href="/personalCenter/myBills" class="look">查看我的账单</a><a href="/recharge/home" class="charging">充  值</a></h1>
        	<div class="account">
        		<div class="total">
        			<div class="tl left">
        				<p class="p1"><%= viewModel.data.UsableMoney %></p>
        				<p class="p2">适用金额</p>
        			</div>
        			<div class="tr left">
                        <p class="p1"><%= viewModel.data.Ticket %></p>
                        <p class="p2">赠券金额</p>
                    </div>
        		</div>
        		<div class="totalBar">我的账户总余额: <span><%= viewModel.data.Money %></span>元</div>
        	</div>
        </div>
    </div>
<%- include('../layouts/footerLayout', {}) %>
<script>
   'use strict'
   
</script>
</body>
</html>